body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  /**
   * Sets the element's width to 100% of the viewport width.
   * Note: Using 100vw may cause horizontal overflow if the page has a scrollbar,
   * as it doesn't account for the scrollbar width. Consider using 100% or max-width
   * as alternatives for more predictable layouts.
   */
  height: 600px;
  background-color: #21d6c7;
  background-image: url(images/henerysplace.png);
  background-size: cover;
  background-position: center;
  /* display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px; */
  /* .nav-bar {
    gap: 20px;
  } */
  .nav-bar-container {
    background-color: #3dd0dd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    .nav-bar {
      display: flex;
      gap: 20px;
    }
  }
}
@keyframes pulse {
  0%,
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 20% 100%, 0 85%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 15%, 80% 0, 20% 0, 0 15%);
  }
}
.container {
  color: #333;
  margin: 20px;
  align-self: center;
  width: 70vw;
}
