body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 150px;
  background-color: #21d6c7;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    width: 100vw !important;
    font-size: 50px;
  }
}
*:not(body):not(header):not(html):not(:root) {
  color: #333;
  margin: 20px;
  align-self: center;
  width: 45vw;
}
