@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  position: relative;
  font-family: "Playwrite NG Modern", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 18px;
  overflow-x: hidden;
}
tbody {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

header {
  /**
   * Sets the element's width to 100% of the viewport width.
   * Note: Using 100vw may cause horizontal overflow if the page has a scrollbar,
   * as it doesn't account for the scrollbar width. Consider using 100% or max-width
   * as alternatives for more predictable layouts.
   */
  height: 200px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
}

.nav-bar-container {
  background-color: #0f172a;
  display: flex;
  font-weight: 100;
  font-size: smaller;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.nav-bar {
  font-size: 10px;
  display: flex;
  gap: 20px;
}

.nav-bar a:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.05);
  opacity: 0.7;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.container {
  color: #333;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    th,
    td {
      /* border: 1px solid #ddd; */
      padding: 8px;
      text-align: center;
      vertical-align: top;
    }
    th {
      background-color: #f2f2f2;
    }
    td {
      max-width: 45vw;
    }
  }
  img {
    max-width: 35vw;
    min-width: 34vw;
    height: auto;
    border-radius: 8px;
  }
  code {
    position: absolute;
    top: 600px;
    right: 0vw;
    background-color: #df6c0ec0;
    border-radius: 4px;
    font-family: "Roboto", monospace;
    border: solid 1px #df6c0e;
    font-size: 14px;
    width: 100vw;
    text-align: center;
  }
}
.container:has(iframe) {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

@media (max-width: 1000px) {
  .nav-bar-container {
    flex-direction: row-reverse;
    .nav-bar {
      font-size: 8px;
      flex-direction: column;
    }
  }
  header {
    margin-bottom: 60px;
  }
  .container:has(iframe) {
    flex-direction: column;
  }
  .container {
    width: 90vw;
    img {
      max-width: 90vw;
      min-width: 90vw;
    }
    tr:has(img) {
      display: flex;
      flex-direction: column;
      width: 90vw;
      td {
        display: block;
        max-width: 90vw !important;
      }
    }
    .odd:has(img) {
      display: flex;
      flex-direction: column-reverse;
    }

    table {
      display: block;
    }

    /* tr {
      display: block;
      width: 90vw;
    } */

    iframe {
      width: 100%;
      height: 400px;
    }
    ul {
      width: 80vw;
      li {
        padding-bottom: 20px;
      }
    }
    blockquote {
      display: flex;
      flex-direction: column;
      margin: 0%;
      padding: 0%;
      p {
        width: 80vw;
      }
    }
  }
}
