body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 150px;
  background-color: #21d6c7;
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 150px;
    margin: 0;
  }
}
p {
  font-size: 18px;
  color: #333;
  margin: 20px;
  align-self: center;
  width: 45vw;
}
