@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Playwrite NG Modern", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 24px;
}
tbody {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

header {
  /**
   * Sets the element's width to 100% of the viewport width.
   * Note: Using 100vw may cause horizontal overflow if the page has a scrollbar,
   * as it doesn't account for the scrollbar width. Consider using 100% or max-width
   * as alternatives for more predictable layouts.
   */
  height: 200px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  /* display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px; */
  /* .nav-bar {
    gap: 20px;
  } */
  .nav-bar-container {
    background-color: #0f172a;
    display: flex;
    font-weight: 100;
    font-size: smaller;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    .nav-bar {
      font-size: xx-small;
      display: flex;
      gap: 20px;
      a:hover {
        transition: 0.5s ease-in-out;
        transform: scale(1.05);
        opacity: 0.7;
      }
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.container {
  color: #333;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    th,
    td {
      /* border: 1px solid #ddd; */
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
    td {
      max-width: 45vw;
    }
  }
  img {
    max-width: 35vw;
    min-width: 34vw;
    height: auto;
    border-radius: 8px;
  }
}
